<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>WELCOME-PAGE</title>
        <style>
        body {
            background-image: url("{{ url_for('static', filename='bgimg3.jpg') }}");
            background-size: 100% 140%;
            color: #0000ff;
        }
        h1 {
            font-size: 100px;
            color: #ff0000;
        }
        a {
            color: #0000ff;
        }
        p {
            font-size: 20px;
        }
        </style>
    </head>
    <body>
        <div id="topflag">
            <div id="topflagimgdiv">
                <img id="topflagimg1" src="{{ url_for('static', filename='logomerged.png') }}" alt="logo">
                <img id="topflagimg2" src="{{ url_for('static', filename='textlogo2.png') }}" alt="textlogo">
            </div>
        <center>
            <h1>SAVVYDEMY</h1><hr />
            <h2>Hello! And Welcome to Savvydemy Tech Institution</h2><br />
            <h3>Joining Us for the First Time?, <a href="{{ url_for('signup') }}">Sign Up</a></h3><br />
            <h3>Have an Account with Us, <a href="{{ url_for('signin') }}">Sign-in</a></h3>
        </center>
    </body>
</html>