<html>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="cssfile.css">
    <link rel="icon" type="image/png" href="logo.png">
    <head>
        <style>
        body	{
                text-align: center;
                margin: 0%;
                background-color: cyan;
        }
        </style>
        <title>SIGN-IN PAGE</title>
        
    </head>
    <body>
        <div id="signin-img">
            <img src="logomerged.png" alt="logo">
        </div>
        <div id = "signin-form">
            <form autocomplete="on" action="Dashboard.html">
            <table>
                <tr><th>E-Mail:</th><th><input type="text" id="email" size="30" autofocus required></th></tr>
                <tr><th>Password:</th><th><input type="password" size="30" required></th></tr>
                <tr><th></th><th><input type="reset"value="RESET"><input type="submit" value="SUBMIT"></th></tr></table>
            </form>
            <a href="signup.html" target="_self">Don't have an account, Sign Up</a>
        </div>
    </body>
</html>