<html>
    <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="cssfile.css">
    <link rel="icon" type="image/png" href="logo.png">
    <head>
        <style>
        body	{
                background-color: #00ffff88;
        }
        </style>
        <title>Savvydemy</title>
        
    </head>
    <body>
        <div id="topflag">
            <div id = "topflagimgdiv">
                <img id="topflagimg1" src="logomerged.png" alt="logo">
                <img id="topflagimg2" src="textlogo2.png" alt="textlogo">
            </div>
        </div>
        <div id="banner">
            <div>about</div>
            <div>programmes</div>
            <div></div>
            <div></div>
            <div>contact</div>
        </div>
    </body>
</html>